body {
    background: yellow;
}
h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    background: blue;
    color: red;
}

ol {
    background: green;
    color: orange;
}

ul, ol {
    font-size: 24px;
}